.tableContainer {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
  }
  
.tableOutline {
  border: 1px solid #ccc;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

/* Apply the common styles for all buttons */
.Backbtn,
.Orderbtn,
.Confirmbtn,
.clearbtn {
  background-color: rgb(151, 201, 218);
  padding: 15px 40px; /* Apply padding for top/bottom and right/left */
}

.Confirmbtn{
  margin-right: 15px;
}

.Backbtn{
  margin-right: 15px;
  
}

.clearbtn {
  margin-right: 15px;
  margin-left: 15px;
}


.docInfo div {
  margin-bottom: 30px;
}