/* Navigation.css */
.nav-links {
    list-style: none;
    display: none;
    opacity: 0; /* Initially hidden and transparent */
    transition: opacity 0.3s ease; /* Add a smooth transition */
}
  
/* Show the navigation links with fade-in animation */
.menu-open .nav-links {
    display: flex;
    flex-direction: column;
    opacity: 1; /* Make the links visible with fade-in */
}
  
/* Navigation.css */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: lightblue;
    /* Add more styling as needed */
}
  
.hamburger-menu {
    cursor: pointer;
    /* Style your hamburger icon here */
}
  
 
  